{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<header class="header">
    <ul>
        <li><a type="button">Menu</a></li>
        <li><a type="button">Profile</a></li>
    </ul>
</header>
<main class="main">
    <div class="link_div">
        <div class="container">

            <ul>

                <li><a id="a" href="https://www.youtube.com/watch?v=dcnCI_-Uq4E&list=PLA0M1Bcd0w8x9TltCzZDhw0SatK1d10yy"
                       target="_blank">JavaScript, Видео курс</a></li>
                <li><a href="https://developer.mozilla.org/ru/docs/Learn/JavaScript/Client-side_web_APIs/Introduction"
                       target="_blank">Web Api(Very Important)</a></li>
                <li><a href="https://developer.mozilla.org/ru/docs/Web/JavaScript" target="_blank">JS</a></li>
                <li><a href="https://docs.djangoproject.com/en/3.1/topics/db/queries/" target="_blank">BD Django Api</a>
                </li>
                <li><a href="https://www.youtube.com/watch?v=Ti2Q4sQkNdU&list=PLqKQF2ojwm3llpxoP1rzoz7TE2Fpo4Zhp"
                       target="_blank">PlayList modern JS</a></li>
                <li>
                    <a href="https://www.youtube.com/watch?v=fJqYa3BuwaU&list=PLqKQF2ojwm3llpxoP1rzoz7TE2Fpo4Zhp&index=6"
                       target="_blank">JQuery</a></li>
                <li><a href="https://www.youtube.com/watch?v=eSaF8NXeNsA" target="_blank">JQuery</a></li>

            </ul>
        </div>
    </div>
</main>

<footer>

</footer>

<script src="{% static "js/main.js" %}">
</script>

</body>
</html>